@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navlogo {
    border: 2px solid #4b6cc1;
    height: 45px;
    width: 45px;
    text-align: center;
    font-weight: bold;

}

.logog {
    font-size: 45px;
    padding-bottom: 15px;
}

body {
    background-color: #191a1d;
}

.mainimage {
    height: 240px;
    margin-top: 80px;
}

.mainimage2 {
    height: 340px;
    margin-top: 250px;
    margin-left: 100px;
}

.section1heading,
.section1heading2 {
    color: white;
}

.section1heading-para,
.section1heading-para2 {
    font-size: 20px;
    color: #9aa5b1;
}

.section1heading2 {
    font-size: 65px;
}

.section1heading-para2 {
    font-size: 30px;
}

.btn {
    background-color: #4b6cc1;
    margin-bottom: 50px;
}

.btn2 {
    background-color: #4b6cc1;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;

}

.section1heading-detail2 {
    margin-top: 300px;
    margin-left: 40px;

}



.card1 {
    background-color: #323f4b;
}

.heading {
    color: #cced00;

}

.about-me {
    color: #ffffff;
}



.card-para {
    color: #9aa5b1;
}

.card2 {
    background-color: #1f2933;
}

.tech {
    color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;

}

.tech-border {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #323f4b;
    margin-bottom: 15px;

}

.tech-img {
    height: 60px;
}
.image1{
    border-radius:200px
}


.card1-section3 {
    background-color: #0d2436;
}

.section3deatail-1,
.section3head1 {
    color: #cced00;
}

.section3para1 {
    color: #9aa5b1;
}

.section3last-para {
    background-color: #001c32;
    color: #9aa5b1;
    text-align: center;
}

.section3image1 {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card-section4 {
    background-color: #52606d;
    padding-bottom: 50px;
}

.section4card1 {
    background-color: #323f4b;
    border-radius: 15px;
}

.section4main-head1 {
    color: #cced00;
}

.section4main-head2 {
    color: #ffffff;
}

.section4card1-heading1 {
    color: #ffffff;
}

.section4card1-para1 {
    color: #9aa5b1;
}

.section4image1 {
    height: 70px;
    width: 70px;
}